<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container mt-4">

    <h1 class="pb-5">Entre em sua Conta abaixo:</h1>

    <%- include('includes/flash') %>

    <form action="/login/login" method="POST">

        <div class="mb-3">

          <label for="email" class="form-label">E-mail: </label>
          <input type="email" class="form-control" name="email">
          
        </div>

        <div class="mb-3">

          <label for="senha" class="form-label">Senha: </label>
          <input type="password" class="form-control" name="senha">

        </div>

        <p>
          <a href="/login">Não tenho uma conta</a>
        </p>
        <button type="submit" class="btn btn-primary">Entrar</button>

      </form>

</div>

<%- include('includes/footer') %>
