@charset "UTF-8";

@keyframes pisca {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.container {
    max-width: 1450px;

    margin: 60px auto;
    padding: 2%;
}

.urna {
    display: flex;
    justify-content: space-between;

    background-color: beige;

    width: 100%;

    padding: 8px;
}

.telaUrna {
    display: grid;
    justify-items: start;
    align-items: end;
    align-content: space-between;

    background-color: rgb(197, 195, 195);

    border: 1px solid black;

    width: 50%;

    padding: 5px;
}

.informacoesVisuais {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotos {
    display: grid;
    justify-items: end;
    align-items: start;

    width: 35%;
    height: 290px;
}

.fotoPresidente {
    display: none;

    width: 100%;
    height: 185px;

    background-color: green;
    color: white;

    text-align: center;
    font-size: 3rem;
}

.fotoVicePresidente {
    display: none;

    width: 80%;
    height: 105px;

    background-color: purple;
    color: white;

    text-align: center;
    font-size: 3rem;
}

.pisca {
    animation-name: pisca;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.auxilio {
    display: none;
    width: 100%;

    border-top: 2px solid black;
}

.telaUrna input {
    margin-top: 25px;
    margin-left: 8px;

    width: 55px;
    height: 65px;

    background-color: rgb(197, 195, 195);

    border: 1px solid black;

    text-align: center;

    font-size: 1.7rem;
}

.voto {
    position: relative;
    display: flex;
    flex-direction: column;
}

.voto p {
    display: inline;
}

.infoPresidente {
    display: none;

    margin-top: 25px;

    font-size: 1.6rem;
}

.btnUrna {
    width: 30%;
    height: 345px;

    background-color: rgba(0, 0, 0, 0.849);
}

.btnUrna>table {
    color: white;

    margin: auto;

    padding-top: 15px;

    border-spacing: 10px;

    text-align: center;

    font-size: 30px;

    width: 85%;
}

table td {
    background-color: black;
    border: 2px solid black;

    width: 35px;

    padding: 8px;

    cursor: pointer;
}

table td:hover {
    border: 2px solid rgba(255, 255, 255, 0.658);
}

table tr:nth-child(5) td:nth-child(1) {
    background-color: rgb(255, 255, 255);
    color: black;

    font-size: 20px;
}

table tr:nth-child(5) td:nth-child(2) {
    background-color: red;
    color: black;

    font-size: 20px;
}

table tr:nth-child(5) td:nth-child(3) {
    background-color: green;
    color: black;

    font-size: 20px;
}

.container2 {
    width: 100%;
}

p.titulo {
    display: none;

    font-size: 1.4rem;

    text-align: right;
}

.fim {
    position: absolute;
    
    transform: translate(60%, -25%);

    font-size: 8rem;
}