@charset "UTF-8";

*  {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    width: 100%;
    overflow-x: hidden;
}

header {
    width: 100vw;
    background-color: rgb(18, 18, 109);
    height: 70px;
}

header img {
    margin: 25px;
}

section#lista {
    width: 100vw;
    height: 580px;


    background-image: url(../imagens/header_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

section#lista ul {
    list-style: inside;

    background-color: rgba(18, 18, 109, 0.411);
    color: rgb(211, 206, 206);
    font-weight: bold;

    max-width: 700px;
    height: 200px;
    line-height: 30px;
    padding: 15px;
    position: absolute;
    top: 15%;
    left: 5%;
}

section#lista ul li {
    padding-bottom: 10px;
}

section#formulario form {
    position: absolute;
    top: 10%;
    left: 70%;

    margin-right: 0%;

    background-color: white;

    max-width: 420px;
    height: 500px;

    border: 10px solid gray;
    padding: 15px;
    color: rgb(150, 148, 148);

    font-size: 1.2em;
}

section#formulario p {
    margin-bottom: 20px;
}

section#formulario label {
    margin-bottom: 5px;
}

section#formulario input[type=email], input[type=text], input[type=tel] {
    width: 95%;
    height: 55px;
    margin-bottom: 20px;

    font-size: 1.3em;
}

section#formulario > form > div#botao {
    text-align: center;
}

section#formulario > form > div#botao > input[type=submit] {
    margin-top: 20px;
    width: 280px;
    height: 60px;

    background-color: rgb(18, 18, 109);
    color: white;
    font-size: 1.5em;

    border: none;
}

section#formulario > form > div#botao > input[type=submit]:hover {
    background-color: rgb(10, 10, 63);
}

section#about {
    width: 100vw;
    height: 240px;
    
    background-color: lightgray;
    color: rgb(99, 97, 97);

    position: relative;
}

section#about img {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 90%;
    left: 50%;
}

section#about h1 {
    padding-top: 40px;
    text-align: center;
}

section#about p {
    text-align: justify;
    margin: auto;
    padding: 1% 5% 2% 5%;
    max-width: 700px;
}

section#propaganda {
    padding-top: 100px;
    text-align: center;
}

section#propaganda h2 {
    color: rgb(79, 25, 129);
    text-align: center;
    margin-bottom: 100px;
    padding: 0 5%;
}

section#propaganda h3 {
    text-align: center;
    padding: 15px 0;
}

section#propaganda img {
    display: block;
    margin: auto;
}

section#propaganda div.aulas {
    display: inline-block;

    padding: 20px;

    text-align: justify;

    width: 400px;
    height: 400px;
}

footer {
    text-align: center;
    font-size: 1.3em;
    padding: 15px;

    color: rgb(99, 97, 97);

    border-top: 4px solid darkgrey;
}