<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Cadastrar contato</h1>
            <p class="text-center lead">Adicione seus contatos abaixo.</p>

            <%- include('includes/mensagens') %>

            <div class="row">

                <div class="col-lg">
                    <h4>Cadastrar Contato</h4>

                    <form action="/contato/registro" method="POST">
                        
                        <div class="mb-3">
                            <label for="nome">Nome: </label>
                            <input type="text" class="form-control" name="nome">
                        </div>

                        <div class="mb-3">
                            <label for="sobrenome">Sobrenome: </label>
                            <input type="text" class="form-control" name="sobrenome">
                        </div>

                        <div class="mb-3">
                            <label for="email">E-mail: </label>
                            <input type="email" class="form-control" name="email">
                        </div>

                        <div class="mb-3">
                            <label for="tell">Telefone: </label>
                            <input type="tel" class="form-control" name="tell">
                        </div>

                        <button type="submit" class="btn btn-primary">Criar contato</button>
                    </form>

                </div>

            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>
