@charset "UTF-8";

div#imagem {
    display: none;
}

#destaque {
    display: none;
}

section#parte3 {
    height: 580px;
}

section#parte4 {
    display: flex;
    flex-direction: column;
}

#titulo {
    justify-content: space-around;
}

#esq {
    width: 100%;

    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
}

#dir {
    width: 100%;

    display: grid;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
}

section#parte5 {
    display: flex;
    flex-direction: column;

    height: auto;
}

#menu {
    display: block;

    width: 100vw;

    text-align: center;
}

#menu span {
    margin-top: 40px;

    color: rgba(255, 255, 255, 0.726);

    font-size: 1.8rem;

    padding: 0 10px;
}

#menu span:hover {
    font-weight: bolder;

    color: rgb(255, 255, 255);

    background-color: rgba(255, 255, 255, 0.281);
}

section#parte1 nav {
    padding: 10px 10vw;
}

nav {
    display: none;
}

nav a {
    display: block;
    text-align: center;

    margin-bottom: 15px;
}